PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/coffee_rating
CLIENT_ORIGIN=http://localhost:5173
# Atlas: mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/coffee_rating?retryWrites=true&w=majority
